@import "tailwindcss";

@theme{
  --font-Rubik:"Rubik", sans-serif;;
  --color-Dark: #202124;
  --color-innerDark: #191919;
  --color-off_white: #fafafa;
  --shadow-gre: 4px 4px oklch(0.6955 0.1575 135.35);
}